*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0em;
    padding: 0em;
}
html {
  scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    .engels{
        background-image: url("../images/eng-icoon.png");
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        background-size: cover;
        width: 3em;
        border: unset;
    }
    .portugees{
        background-image: url("../images/pt-icoon.png");
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        background-size: cover;
        width: 3em;
        border: unset;
    }
    .nederlands{
        background-image: url("../images/nl-icoon.png");
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        background-size: cover;
        width: 3em;
        border: unset;
    }
    h1{
        position: absolute;
        text-align: center;
        width: 100%;
        padding-top: 2em;
        font-size: 24px;
        font-family: $main-font;
        font-weight: 300;
    }
    .menu{
        position: fixed;
        z-index: 100;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100vw;
        padding: 1em;
        overflow: hidden;
        .tableofcontents{
            background-image: url("../images/Verdrag-noblack.png");
            aspect-ratio: 1 / 1.1;
            background-size: cover;
        }
        > ul{
            position: fixed;
            opacity: 1;
            top: 12%;
            transform: translateX(87%);
            transition: transform 0.3s;
            padding: .5em;
            text-align: left;
            a{
              text-decoration: none;
              color: unset;
              font-weight: unset;
            }
            a:hover{
              text-decoration: underline;
            }
            article{
                padding: 1em;
                border-top: 1px solid black;
                margin-top: 2em;
                h3{
                    text-align: left;
                    position: relative;
                    width: 20em;
                    font-family: $main-font;
                    font-weight: 400;
                    font-size: 16px;
                    margin-bottom: 1em;
                }
                button{
                  width: 50%;
                  color: white;
                  background-color: black;
                  border: none;
                  padding: 0.5em;
                }
                #verscheur{
                  display: none;
                }
            }
            li{
                padding-left: 5em;
            }
            li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(5), li:nth-of-type(6), li:nth-of-type(8), li:nth-of-type(9){
                padding-left: 8.85em !important;
                margin-left: -0.85em !important;
            }
            li:before {
                content: "";
                position: absolute;
                left: -1.5em;
                border-left: 1px solid black;
                width: 1px;
                height: 50px;
                z-index: -1;
            }
            > li::marker{
                font-size: 64px;
                position: relative;
                z-index: 1;
            }
            > li:first-of-type::marker{
                color: $licht-groen;
            }
            > li:nth-of-type(2)::marker, li:nth-of-type(3)::marker{
                color: $licht-groen;
                font-size: 32px!important;
            }
            > li:nth-of-type(4)::marker{
                color: $geel;
                font-size: 64px;
            }
            > li:nth-of-type(5)::marker, li:nth-of-type(6)::marker{
                color: $geel;
                font-size: 32px;
            }
            > li:nth-of-type(7)::marker{
                color: $somo-blauw;
                font-size: 64px;
            }
            > li:nth-of-type(8)::marker, li:nth-of-type(9)::marker{
                color: $somo-blauw;
                font-size: 32px;
            }
        }
    }
}
.active{
    transform: translateX(0%)!important;
    transition: transform 0.3s;
}
main{
    background-color: $beige;
    margin-top: -1em;
    .titeloranje{
      position: absolute;
      font-family: $main-font;
      top: 3em;
      text-align: center;
      font-weight: 300;
    }
    #social{
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
    }
    .showbijondertekening{
      opacity: 0;
    }
    #probleem{
      background-image: url("../images/data/muntenstapel-blauw.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    #gebouwnota{
      background-image: url("../images/data/gebouw-nota-blauw.png");
      background-repeat: no-repeat;
      background-size: fit-content;
      background-position-y: center;
    }
    #verdragen{
      background-image: url("../images/data/muntenstapel-landen-oranje.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    #betekenis2{
      background-image: url("../images/data/huizen-wafel-oranje.png");
      background-repeat: no-repeat;
      background-size: fit-content;
      background-position-y: bottom;
    }
    #watkanikdoen{
      background-image: url("../images/data/boeken-helpen-blauw.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: bottom;
    }
    #doorsluisnl{
      background-image: url("../images/data/vis-doorsluis-NL.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100vh;
    }
    #doorsluisen{
      background-image: url("../images/data/vis-doorlsuis-ENG.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100vh;
    }
    #doorsluispt{
      background-image: url("../images/data/vis-doorsluis-PT.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100vh;
    }
    .blauw{
      display: flex;
      flex-direction: row;
      align-items: center;
      article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15%;
        margin-left: 15%;
        width: 100%;
        h2{
          text-align: left;
          width: 100%;
          font-size: 24px;
          font-family: $main-font;
          font-weight: 300;
          color: #10A4A2;
        } 
        img{
          width: 40%;
        }
      }
    }
    .oranje{
      display: flex;
      flex-direction: row;
      align-items: center;
      article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15%;
        margin-left: 15%;
        width: 100%;
        h2{
          text-align: left;
          width: 100%;
          font-size: 24px;
          font-family: $main-font;
          font-weight: 300;
          color: #E38A01;
        } 
        h4{
          text-align: center;
          width: 100%;
          font-size: 32px;
          font-family: $main-font;
          font-weight: 300;
          margin-top: 1em;
        }
        .toelichting{
          margin-top: 5em;
          color: #E38A01;
        }
        #wafelpnl, #wafelpen, #wafelppt{
          margin-top: 4em;
        }
      }
    }
    .eindblauw{
      display: flex;
      flex-direction: row;
      align-items: center;
      article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15%;
        margin-left: 15%;
        width: 100%;
        h2{
          text-align: left;
          width: 100%;
          font-size: 24px;
          font-family: $main-font;
          font-weight: 300;
          color: #0084CB;
        }
        h4{
          text-align: center;
          width: 100%;
          font-size: 32px;
          font-family: $main-font;
          font-weight: 300;
          margin-top: 1em;
        }
        section{
          display: flex;
          flex-direction: column;
        }
      }
    }
    #oplossing{
      padding-bottom: 10em;
      article{
        display: flex;
        flex-direction: row;
        gap: 30px;
        section{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          img{
            height: 10em;
            width: auto;
          }
          h3{
            font-size: 24px;
            text-align: center;
          }
        }
      }
    }
    .data{
      img{
        margin-top: 2em;
        width: 40%;
      }
      h3{
        text-align: left;
        font-size: 48px;
        font-family: $main-font;
        font-weight: 600;
        color: $zwart;
        width: 100%;
      }
      p{
        font-weight: 300;
        font-family: $main-font;
      }
      #xscroll{
        overflow-x: scroll;
        margin-bottom: 5em;
        section{
          display: flex;
          flex-direction: row;
          width: 80%;
          img{
            height: 5em;
            width: auto;
          }
        }
      }
    }
}
  a {
    text-decoration: underline;
    font-weight: bold;
    color: white;
  }
#map{
    width: 80%;
    margin-left: -10%;
    height: 80%;
    .countries {
        fill: $legergroen;
        stroke: $beige;
        stroke-width: 1.2;
      }
      .belastingland{
        fill: $geel!important;
        stroke: $beige;
        stroke-width: 1.2;
      }
      .belastingland:hover{
        fill: $somo-rood!important;
        stroke: $beige;
        stroke-width: 1.2;
      }
      .countries:hover{
        cursor: pointer;
        stroke-width: 1.2;
      }
      .country-text{
        background-color: hotpink;
      }
}
footer{
  text-align: center;
  background-color: $beige;
  padding: .5em;
}